:root {
  --br: 3px;
  --gray: #cecece;
  --highlight-gray: #e6e6e6;
  --fz: 22px;
  --lh: 25px;
  --footnote-gray: #969696;
  --column-width: 780px;
  --img-h-s: calc(var(--lh) * 6);
  --img-h-m: calc(var(--lh) * 12);
  --img-h-l: calc(var(--lh) * 18);
  --pt: 100px;

  --pill-bg: rgba(255, 255, 255, 0.65);
  --backdrop-filter: blur(12px);
  --box-shadow: 0 0 6px rgba(122, 122, 122, 0.2);
  --backdrop-filter-pressed: blur(8px);
}

@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue.woff2") format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 400;
}

html {
  font-synthesis: none;
}

body {
  font-family:
    "Neue Haas",
    -apple-system,
    system-ui,
    sans-serif;
  font-size: var(--fz);
  line-height: var(--lh);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1140px) {
  :root {
    --column-width: 580px;
  }
}

@media (max-width: 980px) {
  :root {
    --column-width: 450px;
  }
}

@media (max-width: 768px) {
  :root {
    --fz: 20px;
    --lh: 22px;
  }
}

@media (max-width: 560px) {
  :root {
    --pt: 150px;
  }
}

::-moz-selection {
  color: #ff0000;
  background: none;
}

::selection {
  color: #ff0000;
  background: none;
}
