---
import Feed from "../components/Feed.astro";
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
import { getAboutPost } from "../data/works.js";

const aboutPost = await getAboutPost();
console.log("aboutPost:", aboutPost);
---

<Layout 
  title="Dzastins Zavadzkis—About"
  description="About Dzastins Zavadzkis.">
  <div class="about-page">
    <Feed type="about">
      <Post post={aboutPost} />
    </Feed>
  </div>
</Layout>

<style lang="scss">
  
</style>