---
import Layout from "../layouts/Layout.astro";
import BlogPreview from "../components/BlogPreview.astro";
import { getPosts } from "../data/works";
const blogPosts = await getPosts("blog", "selectedBlogPosts");
---

<Layout 
  title="Dzastins Zavadzkis—Blog"
  description="Blog of Dzastins Zavadzkis.">
  <div class="works-page">
    <div class="blog-feed">
      {blogPosts.map((blogPost) => <BlogPreview blogPost={blogPost} />)}
    </div>
  </div>
</Layout>

<style lang="scss">
  .blog-feed {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
</style>
